@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

* {
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    // background-color: hsl(0, 0%, 94%);
    font-family:'Source Sans Pro', sans-serif;
    font-size: 1.125em;
}

a[href] {
    color: #000;
}
.container {
    width: 980px;
    margin: 0 auto;
}
// BreakPoint 
@media only screen and (max-width: 1440px) {
    .container {
        width: 980px;
    }
}
@media only screen and (max-width: 1080px) {
    .container {
        width: 700px;
    }
}
// BreakPoint 

.navbar {
    margin-top: 3.125em;
    .container {
        display: flex;
        align-items: center;
    }
    .logo {
        font-size: 1.75em;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 600;
    }
    .nav-links {
        display: flex;
        margin-left: auto;
        .nav-item {
            position: relative;
            display: inline-block;
            margin: 0 1.25em;
            transition: opacity .3s;
            &.active {
                font-weight: 700;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 25px;
                    height: 2px;
                    background: #000;
                }
            }
            &:hover {
                opacity: .5;
            }
        }
    }
}
// First BreakPoint
@media only screen and (min-width: 1920px) {
    .navbar {
        margin-top: 3em;
    }
}
@media only screen and (max-width: 1440px) {
    .navbar {
        margin-top: 1em;
    }
}
@media only screen and (max-width: 1080px) {
    .navbar {
        margin-top: 1em;
        .logo {
            font-size: 1.5em;
        }
        .nav-links {
            .nav-item {
                font-size: .9em;
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .navbar {
        margin-top: 2em;
        .container {
            justify-content: center;
        }
        .nav-links {
            display: none;
        }
    }
}
// AKhir First BreakPoint


.hero {
    padding: 100px 0;
    .container {
        display: flex;
        align-items: center;
    }
    .text-wrapper {
        width: 50%;
        &.w-full {  // about
            width: 100%;
        }
        .title {
            font-size: 3em;
            margin-top: 0;
            margin-bottom: 10px;
        }
        .description {
            font-size: 1.375em;
            line-height: 2em;
        }
        .cta {
            display: inline-block;
            margin-top: 1m;
            padding:  0.8em 2.5em;
            background: #000;
            letter-spacing: 1px;
            color: #fff;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
            transition: transform .5s ease-in-out;
            &:hover {
                transform: rotate(360deg);
            }
        }
    }
    .image-wrapper {
        // width: 50%;
        margin-left: auto;
        text-align: right;
    }
}
// Batas Media Responsive
@media only screen and (min-width: 1920px) {
    .hero {
        padding: 100px 0;
    }
}
@media only screen and (max-width: 1440px) {
    .hero {
        padding: 10px 0;
    }
}
@media only screen and (max-width: 1080px) {
    .hero {
        padding: 25px 0;
        .text-wrapper {
            .title {
                font-size: 2em;
            }
            .description {
                font-size: 1.2em;
                width: 100%;
            }
            .cta {
                padding: 0.6em 1.9em;
            }
        }
        .image-wrapper {
            width: 50%;
        }
    }
}
// BreakPoint Smartphone
@media only screen and (max-width: 600px) {
    .hero {
        padding: 75px 0;
        width: 100%;
        height: 100%;
        .container {
            flex-direction: column;
            // align-items: center;
            // justify-content: center;
        }
        .text-wrapper {
            width: 100%;
            text-align: center;
            .description {
                padding: 0 50px;
            }
        }
        .image-wrapper {
            position: relative;
            z-index: -100;
            width: 100%;
            span {
                position: relative;
                left: -8%;
                transform: translateX(-8%);
            }
        }
    }
}
// BreakPoint Smartphone
// Batas Media Responsive
.portfolio-wrapper {
    display: flex;
    margin: 0 -10px;
    .portfolio-item {
        width: 50%;
        padding: 0 10px;
        text-align: center;
        .portfolio-image {
            max-width: 100%;
        }
        .portfolio-name {
            font-size: 24px;
            margin: 10px 0;
            text-transform: capitalize;
        }
        .portfolio-category {
            color: #999;
        }
    }
}
.contact-links {
    position: relative;
    display: block;
    padding: 0;
    padding-left: 25px;
    margin-left: -8px;
    list-style: square;

    .contact-items {
        position: relative;
        padding: 10px 10px;
        &::before {
            content: '';
            position: absolute;
            width: 10px;
            top: 30%;
            left: -1%;
            transform: translate(-50%, 40%) rotate(30deg);
            height: 10px;
            background-color: #000;
        }
    }
}

footer {
    text-align: center;
}

.icon-items {
    display: flex;
    align-items: center;
    justify-content: center;
    .icon-item {
        margin: 0 10px;
    }
}